@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

body {
  @apply bg-bg text-text antialiased;
}

a { @apply text-text underline-offset-4; }
a:hover { @apply underline; }
